<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% block title %}Fm Regression Monkey{% endblock%}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
{% block head %}
{% endblock %}
<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lte IE 7]>
    <script src="js/IE8.js" type="text/javascript"></script><![endif]-->
<!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
</head>

<body>
    <div id="container">
		<div id="header">
        	<h1>FM<span class="off">Monkey</span></h1>
            <h2>Tool for Advanced Regression Analysis</h2>
        </div>   
        
        <div id="menu">
            {% block top_menu %}
        	<div id="menuspacer">
                <ul id="navlist">
                  <li id="home"><a href="/regression"></a></li>
                  <li id="help"><a href="/regression/help"></a></li>
                  {% if reg_params.project.branch %}
                  <li id="bar"><a href="/regression/{{ reg_params.project.project }}/{{ reg_params.project.branch }}/ReleaseTotals/"></a></li>
                  <li id="line"><a href="/regression/{{ reg_params.project.project }}/{{ reg_params.project.branch }}/ReleasePassRate/"></a></li>
                  {% endif %}
                  {% if reg_params.release %}
                  <li id="pie"><a href="/regression/{{ reg_params.project.project }}/{{ reg_params.project.branch }}/{{ reg_params.release.name }}/"></a></li>
                  {% endif %}
                </ul>
            </div>
            {% endblock %}
        </div>
        
        <div id="leftmenu">

        <div id="leftmenu_top"></div>

			<div id="leftmenu_main">    
                <h3>Links</h3>
                {% block sidebar %}
                <ul>
                </ul>
                {% endblock %}
            </div>

            <div id="leftmenu_bottom"></div>
        </div>
        
		<div id="content">
        <a name="top"></a>
        <div id="content_top"></div>
        <div id="content_main">
            {% block content %}
        	<h2>You may use this template in any manner you like. All I ask is that you leave the link back to my site at the bottom of the page. </h2>
        	<p>&nbsp;</p>
           	<p>&nbsp;</p>
       	    <h3>Template Notes</h3>
       	    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        	<p>&nbsp;</p>
            <h3>More information</h3>
        	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       	    <p>&nbsp;</p>
        	<h3>Template Notes</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p></p>
            <p>&nbsp;</p>
            {% endblock %}
        </div>
        
        <div id="content_bottom"></div>
            {% block footer %}
            <div id="footer"><h3><a href="/regression/">Home</a> | <a href="#top">Top</a> | <a href="/">Fm Monkey Home</a></h3></div>
            {% endblock %}
      </div>
   </div>
</body>
</html>
