    {% extends "basechart.html" %}

    {% block head %}
        <script type="text/javascript" src="/static/swfobject.js"></script>
        <script type="text/javascript">
            swfobject.embedSWF(
              "/static/open-flash-chart.swf", "chart_demo",
              "600", "300", "9.0.0", "/static/expressInstall.swf",
              {"data-file":"/data/{{ chart_type }}"} );
        </script>
    {% endblock head %}

    {% block content %}
        {# display the pie chart for the release #}
        <div class="chart" id="chart_demo"></div>
    {% endblock content %}