    {% extends "basedetails.html" %}
    
    {% block pagename %}Layers List{% endblock pagename %}
    
    {% block pagecontent %}
    
    <div>
    
    

    {% if sel_pkg_hash.layers %}
        <div>
        <table class="list_parent" id="layers_table">
            <thead>
            <tr>
            <th>Layer</th><th>Fail</th><th>Pass</th><th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for layerhash in sel_pkg_hash.layers %}
                <tr>
                    <td class=lname><a href="{{ reg_params.getPackageURL }}{{ layerhash.items.0.0 }}" >{{ layerhash.items.0.0 }}</a></td>
                    <td class="{% if layerhash.items.0.1.fail > 0 %}lfail{% endif %}">{{ layerhash.items.0.1.fail }}</td>
                    <td class=lpass>{{layerhash.items.0.1.pass}}</td>
                    <td class=ltotal>{{layerhash.items.0.1.total}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    </div>
    <div style="clear: both"></div>
    {% endblock pagecontent %}