    {% extends "basedetails.html" %}
    
    {% block customhead %}
        <script src="/static/local.js">
        </script>
    {% endblock customhead %}
    
    {% block pagename %}Scenarios List{% endblock pagename %}
    
    {% block pagecontent %}
    
    <div>
    
    

    {% if files_list %}
        <div class="spacer">
            <span class="rgbutton" ><a href="#" id="scenarios_toggle_button" onclick="toggleScenariosDisplay()">Show Fail</a></span>
        </div>
        <div>
        <table class="scenarios" id="scenarios_table">
            <thead>
            <tr>
            <th>Scenario</th><th>Status</th><th>Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files_list %}
                <tr>
                    <td class=sname><a href="/regression/{{ reg_params.project.project }}/{{ reg_params.project.branch }}/{{ reg_params.release.name }}/{{ reg_params.packageStr }}/{{ reg_params.layerStr }}/{{ reg_params.directoryStr }}/{{ file.file.file_name }}" target="_blank">{{ file.file.file_name }}</a></td><td class=sstatus>{{file.getStatusAsStr}}</td><td class=sduration>{{file.getDurationAsStr}}</td>
                <tr/>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    </div>
    <div style="clear: both"></div>
    {% endblock pagecontent %}