    {% extends "basedetails.html" %}

    {% block pagename %}Projects{% endblock pagename%}
    
    {% block pagecontent %}
        <div class="spacer"></div>
        <div>
            <p>
            {% if reg_params.project_list %}
                <p>The following projects are available to view:</p>
                <ul>
                {% for proj in reg_params.project_list %}
                    <li><a href="/regression/{{ proj.project }}/{{ proj.branch }}/">{{ proj.project }} {{proj.branch}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No projects found within system.</p>
            {% endif %}
        </div>
    {% endblock pagecontent %}