    {% extends "basedetails.html" %}    

    {% block pagename %}Releases{% endblock pagename%}
    
    {% block pagecontent %}
        <div class="spacer"></div>
        <div>
            <p>The following releases are available:</p>
            {% if reg_params.release_list %}
                <ul>
                {% for rel in reg_params.release_list %}
                    <li><a href="/regression/{{ reg_params.project.project }}/{{ reg_params.project.branch }}/{{ rel.name }}/">{{ rel.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No releases found for project: {{ reg_params.project.project }} and branch: {{ reg_params.project.branch }}.</p>
            {% endif %}
        </div>
    {% endblock pagecontent %}