    {% extends "basedetails.html" %}
    
    {% block customhead %}
        <script src="/static/local.js">
        </script>
    {% endblock customhead %}
    
    {% block pagename %}Scenarios List{% endblock pagename %}
    
    {% block pagecontent %}
    
    <div>
    
    

    {% if files_list %}
        <div class="spacer">
            <span class="rgbutton" ><a href="#" id="scenarios_toggle_button" onclick="toggleScenariosDisplay()">Show Fail</a></span>
        </div>
        <div>
        <table class="scenarios" id="scenarios_table">
            <thead>
            <tr>
            <th>Scenario</th><th>Status</th><th>Duration</th><th class=sstart>Start time</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files_list %}
                <tr>
                    <td class=sname><a href="{{ reg_params.getDirectoryURL }}/{{ file.file.file_name }}" target="_blank">{{ file.file.file_name }}</a></td>
                    {% if file.getStatusAsStr == "Failed" %}
                        <td class="sstatus fail">{{file.getStatusAsStr}}</td>
                    {% else %}
                        <td class="sstatus">{{file.getStatusAsStr}}</td>
                    {% endif %}
                    <td class=sduration>{{file.getDurationAsStr}}<td class=sstarttime>{{file.getStartTimeAsStr}}</td>
                <tr/>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    </div>
    <div style="clear: both"></div>
    {% endblock pagecontent %}