    {% extends "basedetails.html" %}

    {% block customhead %}
        <script type="text/javascript" src="/static/swfobject.js"></script>
        <script type="text/javascript">
            swfobject.embedSWF(
              "/static/open-flash-chart.swf", "chart_demo",
              "375", "300", "9.0.0", "/static/expressInstall.swf",
              {"data-file":"/data/pie/{{ reg_params.release.id }}"} );
        </script>
    {% endblock customhead %}

    {% block pagename%}Release details{% endblock pagename %}

    {% block pagecontent %}
    <div>
        <div class="summary_wrapper">
          <table class="summary" cellpadding="3" cellspacing="4">
                <tr>
                    <td class="sumheading">Release</td>
          <td class="sumvalue">{{ reg_params.release.name }}</td>
        </tr>
                <tr>
                    <td class="sumheading">Branch</td>
                    <td class="sumvalue">{{ reg_params.branchStr }}</td>
        </tr>
                <tr>
          <td class="sumheading">Date</td>
                    <td class="sumvalue">{{ reg_params.release.date|date:'D jS M Y, G:i' }}</td>
        </tr>
                <tr>
          <td class="sumheading">Tag</td>
                    <td class="sumvalue">{{ reg_params.branchStr }}_{{ reg_params.release.name }}</td>
        </tr>
            </table>
            <p>
            <p>
            <ul class="releaseWarnings">
            {% if reg_params.compliance_warning %}
            <li><a href="{{ reg_params.getReleaseURL }}Compliance">Warning compliance failures exist</a></li>
            {% endif %}
            {% if reg_params.release.comment %}
            <li>{{ reg_params.release.comment }}</li>
            {% endif %}
            </ul>
        </div>
        <div class="summary_chart" id="chart_demo">
        </div>
        <div class="summary_breakdown">
        {% if reg_params.release_stats %}
        {# display the pie chart for the release #}
            <table border="1" cellpadding="2" cellspacing="0" summary="" class="summaryFiguresTable">
                <tr>
                    <th class="passrate">Pass Rate</th>
                    <th>Total</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Void</th>
                    <th>New</th>
                    <th>Misc</th>
                </tr>
                <tr>
                    <td>{{ reg_params.release_stats.6 }}</td>
                    <td>{{ reg_params.release_stats.5 }}</td>
                    <td>{{ reg_params.release_stats.0 }}</td>
                    <td>{{ reg_params.release_stats.1 }}</td>
                    <td>{{ reg_params.release_stats.2 }}</td>
                    <td>{{ reg_params.release_stats.3 }}</td>
                    <td>{{ reg_params.release_stats.4|default_if_none:0 }}</td>
                </tr>
            </table>
        {% endif %}
        </div>
    </div>
    <div class="spacerCenter">
        <span class="rgbutton"><a href="{{ reg_params.getReleaseDiffURL }}">Release Comparision</a></span>
        <span class="rgbutton"><a href="{{ reg_params.getReleaseURL }}?type=package_fail">Package Failures</a></span>
        <span class="rgbutton"><a href="{{ reg_params.getPackageSynchroURL }}">Package Sync.</a></span>
    </div>
    {% endblock pagecontent %}
