    {% extends "basevalidate.html" %}

    {% block content %}
    {# List responsiblitys #}
    <h2>Search for Message</h2>

    <form name="messagesearch" action="." method="get">
        {% if form.errors %}
        <p style=".error">
            {{ form.errors|pluralize }}
        </p>
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="Search" />
    </form>
    <hr>
    {% if object_list %}
        <table>
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Message</th>
                    <th>Team</th>
                    <th>Primary</th>
                    <th>Secondary</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                {% for responsiblity in object_list %}
                <tr>
                    <td>{{ responsiblity.package }}</td>
                    <td>{{ responsiblity.function }}</td>
                    <td>{{ responsiblity.team }}</td>
                    <td>{{ responsiblity.primary.getDisplayName }}</td>
                    <td>{{ responsiblity.secondary.getDisplayName }}</td>
                    <td>{{ responsiblity.area }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% endblock content %}
