    {% extends "basevalidate.html" %}

    {% block content %}
    {# List responsiblitys #}
    <h2>Search for Message</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form name="messagesearch" action="/validate/message/" method="get">
        Message: <input type="text" name="message" value="{{ message|default_if_none:"" }}"/><br />
        <input type="submit" value="Search" />
    </form>
    <hr>
    {% if object_list %}
        <table>
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Message</th>
                    <th>Team</th>
                    <th>Primary</th>
                    <th>Secondary</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                {% for responsiblity in object_list %}
                <tr>
                    <td>{{ responsiblity.package }}</td>
                    <td>{{ responsiblity.function }}</td>
                    <td>{{ responsiblity.team }}</td>
                    <td>{{ responsiblity.primary.getDisplayName }}</td>
                    <td>{{ responsiblity.secondary.getDisplayName }}</td>
                    <td>{{ responsiblity.area }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% endblock content %}
